<!DOCTYPE html>
<html>
    <body>
        <h3>Form submission example</h3>

        <form action="/form-handler" method="POST">
            <div>
                Name: <input type="text" name="name"><br>
            </div>
            <div>
                Purchases: <input type="text" name="purchases"><br>
            </div>
            <input type="submit" value="Submit">
          </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 2%;
        }

        div {
            margin: 2% 0;
        }
    </style>
</html>
